* {
    box-sizing: border-box;
    font-family: ubuntu;
}
@font-face {
    font-family: ubuntu;
    src: url(Ubuntu.ttf);
}
@font-face {
    font-family: segoe;
    src: url(Segoe.ttf);
}

body {
    margin: 0;
}

.header-pt1 {
    height: 239px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.logo-in-header {
    padding-top: 30px;
    padding-bottom: 50px;
}

.a-in-nav-header {
    text-decoration: none;
    color: #957554;
    font-size: 24px;
    font-weight: 500;
    text-transform: capitalize;
    padding-right: 50px;
}

.a-in-nav:hover {
    font-size: 40px;
}

.header-pt2 {
    height: 119px;
    background-color: #111111;
    display: flex;
    justify-content: center;
    margin: 0;
}

.input-in-header {
    background-color: #FFFFFF;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 10px;
    outline: none;
    width: 192px;
    height: 60px;
    padding-left: 10px;
    margin-right: 20px;
    margin-top: 30px;
}

.input-in-header-div {
    position: relative;
}

.img-in-input {
    position: absolute;
    top: 55px;
    right: 35px;
}
 
.button-in-header-pt2 {
    background-color: #DFAA5B;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 300;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    width: 192px;
    height: 60px;
    padding-left: 10px;
    margin-top: 30px;
}

.header-pt3 {
    height: 790px;
    margin: 0;
    background-image: url(background.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.p1-in-header-pt3 {
    font-family: segoe;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 80px;
    margin-bottom: 0;
    padding-top: 45px;
}

.p2-in-header-pt3 {
    text-transform: capitalize;
    font-weight: 500;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 60px;
}

.button-in-header-pt3 {
    background-color: #DFAA5B;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 24px;
    border: none;
    border-radius: 10px;
    width: 371px;
    height: 76px;
}

.facilities {
    height: 289px;
    width: 90%;
    border-radius: 10px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -160px;
    margin-left: 5%;
}

.facilities-header {
    color: #957554;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 45px;
}

.ficilities-icons {
    display: flex;
}

.kitchen, .pool, .wifi, .gym {
    margin-right: 120px;
    text-align: center;
}

.taxi {
    text-align: center;   
}

.facilities-text {
    color: #957554;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 24px;
}

.facilities-a {
    text-decoration: none;
}

.rooms-rates {
    color: #957554;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 45px;
    text-align: center;
    margin-top: 60px;
}

.rooms-photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 50px;
    row-gap: 50px;
}

.standard-twin-div, .standard-div, .standard-view-div, .delux-div {
    width: 630px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 40px;
}

.standard-twin-div {
    background-image: url(standard-twin.png);
}

.standard-div {
    background-image: url(standard.png);
}

.standard-view-div {
    background-image: url(standard-view.png);
}

.delux-div {
    background-image: url(delux.png);    
}

.room-type-text {
    text-transform: capitalize;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 40px;
}

.check-rates-button {
    width: 244px;
    height: 76px;
    background-color: #DFAA5B;
    border: none;
    border-radius: 10px;
    outline: none;
    color: #FFFFFF;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 24px;
}

.booking {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.book-text {
    color: #957554;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 45px;
}

.book-button {
    width: 418px;
    height: 76px;
    background-color: #DFAA5B;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    outline: none;
    font-weight: 500;
    font-size: 24px;
    text-transform: capitalize;
}

footer {
    height: 469px;
    margin-top: 120px;
    background-color: #111111;
    display: flex;
    padding: 50px;
}

.footer-pt1, .footer-pt2, .footer-pt3 {
    width: calc(100%/3);
}

.text-in-footer-pt1 {
    font-size: 24px;
    font-weight: 300;
    color: #FFFFFF;
}

.a-in-li-footer {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 400;
    text-transform: capitalize;
}

.a-in-li-footer:hover {
    color: #DFAA5B;
}

.ul-in-footer {
    list-style-type: none;
}

.ul-in-footer>li {
    line-height: 42px;
}

.input-in-footer, .button-in-footer {
    width: 371px;
    height: 75px;
    border-radius: 10px;
    border: none;
    outline: none;
}

.text-in-footer-pt3 {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 30px;
    text-transform: capitalize;
}

.input-in-footer {
    color: rgba(0, 0, 0, 0.5);
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 20px;
    padding-left: 20px;
}
 
.button-in-footer {
    background-color: #DFAA5B;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 24px;
    text-transform: capitalize;
}
